/wp-cli.local.yml
/webroot/wp-content/uploads/*

/config/active-env
/config/*-mine.env.php
/config/*-overrides.env.php

*.komodoproject
.sass-cache
*.sublime-project
*.sublime-workspace
.DS_Store
.idea

# Ignore core files
/webroot/index.php
/webroot/wp-activate.php
/webroot/wp-blog-header.php
/webroot/wp-comments-post.php
/webroot/wp-config-sample.php
/webroot/wp-cron.php
/webroot/wp-links-opml.php
/webroot/wp-load.php
/webroot/wp-login.php
/webroot/wp-mail.php
/webroot/wp-settings.php
/webroot/wp-signup.php
/webroot/wp-trackback.php
/webroot/xmlrpc.php
/webroot/license.txt
/webroot/readme.html
/webroot/wp-admin
/webroot/wp-includes
/webroot/wp-content/themes/twenty*
/webroot/wp-content/plugins/hello.php

# Ignore Pagely files
/webroot/db-config.php
/webroot/wp-config-hosting.php
/webroot/wp-content/mu-plugins/pagely_management.php
